<h1>To do list</h1>
<form>
  <input type="text" [(ngModel)]="description" name="description" placeholder="Cosa devo fare ...">
  <button type="submit" (click)="addTodo()"> Aggiungi Todo </button>
</form>

<main>
  <ul>
    <li *ngFor="let todo of todos | async">
      <input [checked]="todo.data.done" type="checkbox" (change)="updateTodo(todo.id, $event)" />
      <b [class.done]="todo.data.done" >{{todo.data.description}}</b>
      <button *ngIf="todo.data.done" (click)="removeTodo(todo.id)">&times;</button>
    </li>
  </ul>
</main>
