/* You can add global styles to this file, and also import other style files */

body{
  font-family: 'Helvetica Neue', sans-serif;
  background: #ededed;
  margin: 0;
}

header{
  background: #ff6666;
  padding:.5em;
  display: flex;
  align-items: center;

}

header img{
  max-height: 2em;
}

h1{
  font-weight: 100;
  color: white;
  margin: 0 .5em 0 0;
}

main {
    max-width: 800px;
    margin: 0 auto;
    display: block;
    padding: 2em 1em;
}

textarea, input, button { outline: none; }

form{
  display:flex;
  width: 100%;
  align-items: center;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}

form input{
  flex:1;
}

form button{
  background:#1c1c1c;
}

form button:hover{
  background:#ff6666;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: white;
    margin: .5em 0;
    padding: .5em;
    align-items: center;
    display: flex;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}

li b{
  font-weight: 100;
  font-size: 1.5em;
  margin: 0 .5em;
  flex:1;
  transition: all .3s;
}

button {
    font-weight: 300;
    color: #ff6666;
    border: none;
    border-radius: 0;
    background: white;
    padding: 1em;
    font-size: .8em;
    cursor: pointer;
    transition: all .3s;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}

button:hover{
     background: #ededed;
}

input[type="text"] {
    background: none;
    border: none;
    background:white;
    font-size: 1.5em;
    padding: .25em;
    font-weight: 100;
    transition: all .3s;
}

input[type="text"]:focus{
  color: #ff6666;
}

.done{
  text-decoration: line-through;
}

