/* You can add global styles to this file, and also import other style files */

body{
  font-family: 'Helvetica Neue', sans-serif;
  background: #ededed;
}

app-root {
    max-width: 800px;
    margin: 0 auto;
    display: block;
}

textarea, input, button { outline: none; }

form{
  display:flex;
  width: 100%;
  align-items: center;
}

form input{
  flex:1;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: white;
    margin: .5em 0;
    padding: .5em;
    align-items: center;
    display: flex;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}

li b{
  font-weight: 100;
  font-size: 1.5em;
  margin: 0 .5em;
  flex:1;
}

button {
    font-weight: 300;
    color: white;
    border: none;
    border-radius: 0;
    background: #ff9300;
    padding: 1em;
    font-size: .8em;
    cursor: pointer;
    transition: all .3s;
}

h1{
  font-weight: 500;
  color: #ff9300;
}

button:hover{
     background: #ff560e;
}

input[type="text"] {
    background: none;
    border: none;
    border-bottom: 1px solid #ff9300;
    font-size: 1.5em;
    padding: .25em;
    font-weight: 100;
    transition: all .3s;
}

input[type="text"]:focus{
  color: #ff9300;
}

.done{
  text-decoration: line-through;
}

